.add-com {
  .icon-add {
    width: 20px;
    height: 20px;
    right: 18px;
    top: 10px;
    &:hover {
      background-color: rgb(225, 225, 225);
    }
  }

  .hover-area {
    height: 120%;
    width: 25%;
    position: absolute;
    top: 0;
    right: 0;
  }

  .add-menu {
    width: 100px;
    height: 64px;
    top: 40px;
    right: 20px;
    background-color: white;
    justify-content: left;
    font-size: 12px;
    z-index: 15;
    flex-wrap: wrap;
    box-shadow: 0 0 10px rgba(128, 128, 128, 0.5);
    cursor: pointer;

    .add-menu-item {
      padding: 5px 0px 5px 15px;
      width: 100%;
      &:hover {
        background-color: rgb(207, 207, 207);
      }
    }
  }
}

.match-modal {
  .ant-pro-card-body {
    padding: 10px !important;
  }
  .content-box-card {
    flex: 1;
    width: 100%;
    display: flex;

    .square {
      width: 65px;
      height: 65px;
      margin-right: 10px;
      background-color: transparent;
      border-radius: 5px;
      border: 1px solid black;
    }
  }
}
