.relation-pageCard {
  .pageCard-main {
    background-color: rgb(245, 246, 247);
  }
  .pageCard-sider-top {
    .ant-pro-card-body {
      display: flex;
      justify-content: center;
      padding-top: 10px;
    }
  }
}
